[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
mediapipe = "*"
pycaw = "*"
transformers = "*"
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
numpy = "*"
opencv-contrib-python = "*"
pillow = "*"
pygame = "*"
python-decouple = "*"

[requires]
python_version = "3.9"
